doctype html
html(class="no-js", lang="ru")

    include ../modules/head/head
    include ../modules/help/help
    include ../modules/footer/footer

    head
        +head(head.defaults)
    body.page
        |%=symbols=%
        
        header.header
          +help()
  

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
