* {
  font-size: 0;
}

.link {
  font-size: 14px;
  color: #608eb5;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active{
    text-decoration: underline;
    color: #000;
  }

}

.container {
  width: 1200px;
  margin: 0 auto;
  @include cf;
}
